@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1.cabeçalho{
    position: relative;
    left: 675px;
    color: #000;
    font-family: 'Roboto', sans-serif;

}
 
img.primeira{
    background-color: aliceblue;
    float: left;
    width: 450px;
}

h2.note1{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    color: #0074e9;
   
    
}

p.valor1{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    color: black;
    

}

button.comprel{
    position: absolute;
    top: 300px;
    left:670px ;
    border: #0074e9 solid 3px;
    border-radius: 0.5em;
    background-color: #0074e9;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}

button.conheçal{
    position: absolute;
    position: absolute;
    top: 300px;
    border: #0074e9 solid 3px;
    border-radius: 0.5em;
    background-color: white;
    color: #80a3c6;
    font-family: 'Roboto', sans-serif;
    font-size: medium;

    


}

div.primeiro{
    border-bottom: 160px solid;
    border-color: aliceblue;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: x-large;
}