<form action="/add" method="Post">
    <p>Titulo</p>
    <input type="text" name="titulo">
    <p>Conteúdo</p>
    <textarea name="conteudo"></textarea>
    <button type="Enviar">Cadastrar Postagem</button>
</form>